/*Global Styles*/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.mobile {
  display: none;
}

body {
  background-color: rgb(244, 235, 237);
}

a {
  text-decoration: none;
}

h2, h3, h4 {
  font-family: "Arvo", serif;
  color: rgb(244, 235, 217);
}

/*Header and nav styles*/

nav {
  justify-content: space-between;
}

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: rgb(244, 235, 237);
  border-bottom: 1px solid rgb(56, 56, 56)
}

.logo {
  align-items: center;
  margin-left: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.logo span {
  color: rgb(56, 56, 56);
}

.logo img {
  height: 2.5rem;
}

#bold {
  font-weight: 900;
}

.menu {
  align-items: center;
  margin-right: 1.5rem;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  color: rgb(56, 56, 56);
  padding: 1.46rem 0.5rem;
}

.menu ul li a:hover {
  background-color: rgb(5, 142, 217);
  color: rgb(244, 235, 217);
  transition: background-color 500ms ease-in-out,
    color 250ms linear;
}

.menu ul li a:active {
  background-color: rgb(5, 117, 178);
  transition: none;
}

/* Main Body Styles */
.banner {
  background-color: rgb(56, 56, 56);
}

.bannerImg {
  width: 60%;
  margin: 6rem 2.5rem 2rem 1.5rem;
}

.bannerImg img {
  max-width: 100%;
  height: auto;
}

.bannerText {
  line-height: 1.2;
  /*align-items: flex-start;*/
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.bannerText h2 {
  font-size: 3rem;
  font-weight: bold;
}

.bannerText p {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: rgb(244, 235, 217);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.bannerText .btn {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  background-color: rgb(5, 142, 217);
  color: rgb(244, 235, 217);
  text-align: center;
  margin-top: 1.5rem;
  width: 88%;
}

.bannerText .btn:hover {
  background-color: rgb(3, 78, 119);
  color: rgb(221, 213, 197);
  transition: background-color 500ms linear,
    color 500ms linear;
}

.bannerText .btn:active {
  background-color: rgb(5, 142, 217);
  color: rgb(244, 235, 217);
  transition: none;
}

.info {
  background-color: rgb(110, 110, 110);
}

.infoLeft {
  flex-direction: column;
  height: auto;
  margin: 0rem 0rem 0rem 1.5rem;
  width: 61.5%;
  border-right: 1px solid rgb(56, 56, 56);
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.infoLeft img {
  max-width: 100%;
  height: auto;
}

.infoLeft h3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.infoLeft p {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  color: rgb(11, 11, 11);
}

.infoLeft .quote {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.infoRight {
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
}

.infoImg {
  width: 35%;
  height: 100%;
  margin-right: 1rem;
}

.infoBox {
  width: 26.4375rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.infoText {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.3;
}
.infoText h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-self
}

.infoText p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  color: rgb(11, 11, 11);
}

.infoText a {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 165, 255);
}

.infoText a:hover {
  transition: font-size 100ms ease-in;
  font-size: 1.1rem;
}

.infoBox:hover {
  background-color: rgb(56, 56, 56);
}

/* Additional Info Styles */

.courses {
  background-color: rgb(56, 56, 56);
  justify-content: center;
}

.course-info {
  justify-content: space-between;;
  width: 62.5rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.courseHead {
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(56, 56, 56);
}

.courseBox {
  width: 31.2%;
  background-color: rgb(110, 110, 110);
  margin-bottom: 1rem;
  transition: all 100ms ease-in;
}

.courseBox:hover {
  transform: scale(1.025);
  box-shadow: -6px 5px 9px 0px rgb(11, 11, 11);
}

.courseBox img {
  width: 100%;
  height: auto%;
}

.courseBox h4 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
}

.courseBox p {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  color: rgb(11, 11, 11);
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.courseBox .courseDesc {
  padding-bottom: 1.5rem;
}
